@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Public Sans", Arial, sans-serif;
	--font-mono: "Geist Mono", "Courier New", "monospace";
	--font-serif: "Cactus Classical Serif", sans-serif;
}

.root-container {
	@apply subpixel-antialiased bg-zinc-50 dark:bg-zinc-900 flex h-screen flex-col justify-between overflow-x-hidden;
}

.padding-container {
	@apply w-full max-w-[1000px] px-5 m-auto;
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
